.image-view {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.text-field {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-padding: 12 16;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: #aaa;
    -fx-text-fill: #000000;
}

.text-field:focused {
    -fx-border-color: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(150, 0, 0, 0.2), 5, 0, 0, 0);
}

.button {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #000000;
    -fx-padding: 14 16;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-width: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
    -fx-min-width: 100%;
    -fx-transition: background-color 0.7s ease, -fx-effect 0.7s ease;
    -fx-alignment: CENTER;
}

#btnPayBill {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: #000000;
    -fx-padding: 14 16;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-width: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
    -fx-min-width: 100%;
    -fx-transition: background-color 0.7s ease, -fx-effect 0.7s ease;
    -fx-alignment: CENTER;
}

.button:hover, #btnPayBill:hover {
    -fx-background-color: linear-gradient(to right, #000000, #4c0000, #000000);
    -fx-effect: dropshadow(three-pass-box, rgba(128, 0, 0, 0.3), 10, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #5a0000;
}

.table-view {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
}

.table-column {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-padding: 5;
    -fx-alignment: CENTER;
}

.table-cell {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-padding: 5;
}

.table-row:selected {
    -fx-background-color: #e67878;
    -fx-text-fill: #000000;
}

.table-row:focused {
    -fx-background-color: #e67878;
}

.combo-box {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-padding: 12 16;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: #ccc;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box:focused {
    -fx-border-color: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(150, 0, 0, 0.2), 5, 0, 0, 0);
}

.combo-box .button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-padding: 10;
}

.combo-box-popup {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: #000000;
}

.combo-box .arrow {
    -fx-background-color: #000000;
}

.chart {
    -fx-background-color: white;
}

.chart-title {
    -fx-text-fill: maroon;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.axis {
    -fx-tick-label-fill: black;
    -fx-label-padding: 5px;
}

.axis-label {
    -fx-text-fill: maroon;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.chart-bar {
    -fx-bar-fill: maroon;
}

.chart-bar:hover {
    -fx-bar-fill: black;
}

.chart-legend {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.chart-plot-background {
    -fx-background-color: white;
}

.chart-horizontal-grid-lines,
.chart-vertical-grid-lines {
    -fx-stroke: #cccccc;
}

.area-chart {
    -fx-background-color: white;
}

.area-chart .chart-title {
    -fx-text-fill: #800000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.area-chart .axis-label {
    -fx-text-fill: #800000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.area-chart .chart-area {
    -fx-background-color: #ffffff;
}

.area-chart .chart-series-line {
    -fx-stroke: #800000;
    -fx-stroke-width: 2;
}

.area-chart .chart-series-line:hover {
    -fx-stroke: #000000;
    -fx-stroke-width: 2;
}

.area-chart .chart-bar {
    -fx-bar-fill: #800000;
}

.area-chart .chart-bar:hover {
    -fx-bar-fill: #000000;
}

.area-chart .axis .tick-label {
    -fx-text-fill: black;
}

.area-chart .chart-plot-background {
    -fx-background-color: white;
}

.area-chart .chart-plot-background {
    -fx-background-color: #f6f6f6;
}
